@font-face {
  font-family: "PT SAns";
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: normal; }

@font-face {
  font-family: "PT SAns";
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
  font-weight: bold; }

* {
  font: 400 15px "PT SAns", sans-serif; }

header {
  padding: 25px 0 40px;
  position: relative; }

.navbar-toggle {
  width: 35px;
  height: 35px;
  background: transparent;
  border: solid #31333e 1px;
  font-size: 25px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: none;
  color: #31333e; }

h1 {
  font-weight: bold;
  padding: 0 0 0 55px;
  position: relative;
  display: inline-block;
  font-size: 35px; }
  h1 img {
    position: absolute;
    left: 0; }

h2 {
  font-size: 30px; }

.header-nav {
  display: inline-block;
  float: right; }
  .header-nav ul {
    margin: 0; }
  .header-nav li {
    line-height: 35px;
    vertical-align: middle; }

.header-nav__link {
  color: #000;
  padding: 0 23px;
  border-right: solid #acacac 2px; }
  .header-nav__link:hover {
    text-decoration: none;
    color: lightblue; }

li:last-child .header-nav__link {
  border: none; }

main {
  color: #626262; }

.main-banner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #31333e), color-stop(91%, #31333e), color-stop(91%, #fff));
  background: -webkit-linear-gradient(top, #31333e 0, #31333e 91%, #fff 91%);
  background: linear-gradient(to bottom, #31333e 0, #31333e 91%, #fff 91%);
  color: #fff;
  margin: 0 0 50px; }
  .main-banner h2 {
    font-size: 45px;
    padding: 65px 0 75px; }

.main-banner__button {
  background: #00aeff;
  padding: 13px 50px;
  color: #fff;
  margin: 0 15px; }

.main-banner-slider {
  position: relative;
  overflow: hidden;
  height: 400px; }

.main-banner__controls {
  position: absolute;
  top: 80px;
  background: transparent;
  color: #696d7d;
  font-size: 70px;
  border: none; }
  .main-banner__controls-next {
    right: 0; }
  .main-banner__controls-prev {
    left: 0; }

.main-banner__item {
  display: none;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s; }
  .main-banner__item.main-banner__item_active, .main-banner__item.main-banner__item_next, .main-banner__item.main-banner__item_prev {
    display: inline-block; }

.main-banner__item_active {
  left: 0; }

.main-banner__item_next {
  left: 1170px; }

.main-banner__item_prev {
  left: -1170px; }

.features {
  margin: 0 auto 70px; }
  .features h3 {
    font-size: 30px;
    margin: 0 0 25px; }
  .features p {
    padding: 30px 30px 0; }
  .features a {
    font-weight: bold;
    color: #00aeff; }

.our-works {
  background: #e2e7ed;
  padding: 45px 0 90px; }

.works-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0; }

.works-item {
  position: relative;
  width: 275px;
  height: 200px;
  overflow: hidden; }
  .works-item img {
    position: absolute;
    left: -90px;
    top: -40px; }
  .works-item__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 200px;
    padding: 15px;
    background: #00aeff;
    z-index: -1;
    color: #fff; }
    .works-item__hover h3 {
      font-size: 24px;
      font-weight: bold; }

.works-item:hover .works-item__hover {
  z-index: 1; }

.works-item__button, .works-item__link {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 70px;
  height: 40px;
  background: #008bcc;
  color: #fff;
  font-size: 30px; }

.works-item__button {
  left: 0;
  border: none;
  cursor: pointer; }
  .works-item__button:hover {
    color: darkblue; }

.works-item__link {
  text-align: center;
  right: 0; }

.clients {
  padding: 35px 15px 75px;
  overflow: hidden;
  position: relative; }
  .clients h2 {
    margin: 0 0 40px; }

.clients__controls {
  position: absolute;
  border: none;
  font-size: 50px;
  color: #ced4db;
  background: transparent;
  top: 100px; }
  .clients__controls-next {
    right: 0; }

.clients-slider {
  padding: 0 30px; }

.clients__logo {
  position: relative;
  display: inline-block;
  margin: 0 30px;
  overflow: hidden;
  height: 55px; }
  .clients__logo img {
    position: absolute; }

.clients__logo-cnn {
  width: 120px;
  margin: 0 30px 0 60px; }

.clients__logo-fuji {
  width: 220px; }
  .clients__logo-fuji img {
    left: -170px; }

.clients__logo-casio {
  width: 200px; }
  .clients__logo-casio img {
    left: -420px; }

.clients__logo-apartment {
  width: 220px; }
  .clients__logo-apartment img {
    left: -630px; }

footer {
  background: #31333e;
  color: #ffffff;
  padding: 40px 0 65px; }

.footer__right {
  display: inline-block; }

.footer-nav {
  display: inline-block; }
  .footer-nav ul {
    margin: 0; }
    .footer-nav ul .list-inline-item {
      margin: 0; }
      .footer-nav ul .list-inline-item a {
        padding: 0 15px;
        color: #ffffff; }
    .footer-nav ul .list-inline-item:first-child a {
      padding: 0 15px 0 0; }
    .footer-nav ul .list-inline-item:not(:last-child) a {
      border-right: solid #ffffff 2px; }

.footer-socials-links {
  display: inline-block;
  float: right;
  width: 267px; }

.footer-social__link {
  display: inline-block;
  width: 37px;
  height: 36px;
  overflow: hidden;
  position: relative; }
  .footer-social__link img {
    position: absolute;
    left: 0; }
  .footer-social__link-linkedin img {
    left: -47px; }
  .footer-social__link-twitter img {
    left: -95px; }
  .footer-social__link-pinterest img {
    left: -143px; }
  .footer-social__link-dribbble img {
    left: -190px; }
  .footer-social__link-google-plus img {
    left: -237px; }

.fancybox {
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  display: none;
  text-align: center;
  -webkit-box-shadow: inset 0 0  10px 10px #ffffff;
          box-shadow: inset 0 0  10px 10px #ffffff;
  z-index: 2; }
  .fancybox img {
    display: inline-block;
    -webkit-box-shadow: 0 0  20px 20px #ffffff;
            box-shadow: 0 0  20px 20px #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%; }

.fancybox__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer; }

@media all and (min-width: 768px) and (max-width: 992px) {
  .header-nav a {
    padding: 0 10px; }
  .features p {
    padding: 30px 15px 0; }
  .clients-slider {
    padding: 0 30px 0 70px;
    margin: 0 0 0 30px; }
  .clients__logo-fuji {
    margin: 0 0 0 90px; }
  .footer-socials-links {
    display: block;
    float: none;
    width: 100%;
    text-align: center; } }

@media all and (max-width: 768px) {
  .navbar-toggle {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 27px; }
  .header-nav {
    display: none;
    background: #ffffff;
    border: solid #31333e 1px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 62px; }
    .header-nav li {
      display: block;
      margin: 0; }
      .header-nav li:not(:last-child) {
        border-bottom: solid #31333e 1px; }
  .header-nav__link {
    border: none; }
  .clients-slider {
    padding: 0 30px 0 70px;
    margin: 0 0 0 30px; }
  .clients__logo-fuji {
    margin: 0 0 0 90px; }
  .container {
    width: 100%; }
  footer, main, header {
    width: 100%; }
  .footer-socials-links {
    display: block;
    float: none;
    max-width: 90%;
    text-align: center; }
  .clients {
    display: none; }
  .footer {
    text-align: center; }
  .main-banner h2 {
    font-size: 30px; }
  .main-banner__button {
    display: block;
    margin: 10px auto; }
  .main-banner-slider {
    height: 250px; }
  .main-banner__item img {
    max-height: 250px;
    max-width: 80%; }
  .our-works {
    text-align: center; } }
